<%= render 'shared/errors' %>

<h1>SIGN UP!</h1>

<form action="<%= users_url %>"  method="post">
  <%= auth_token %>
  <label for="username">Username</label>
  <input id="username" type="text" name="user[username]" value="">

  <br>

  <label for="password">Password</label>
  <input id="password" type="password" name="user[password]" value="">

  <br>

  <input id="Submit" type="submit">
</form>
